body {
  background-color: #222;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

img {
  display: block;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
}

section {
  text-align: center;
  max-width: 1100px;
  width: 95%;
  margin: 2rem auto;
}

/************** NAVBAR *******************/

.main-navbar {
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  max-width: 1250px;
  margin: 0 auto;
  border-radius: 3px;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.nav-title {
  margin: 0;
  text-align: center;
}

.nav-list-left,
.nav-list-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: rgb(17, 17, 17);
  text-align: left;
  min-width: 6rem;
  z-index: 1;
}

.menu-content-show {
  display: block;
}

.menu-btn {
  font-family: "Urbanist", sans-serif;
  border: none;
  background-color: rgb(17, 17, 17);
  color: #f2da96;
  font-size: 1.02rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  transition: color 100ms ease-in-out;
  padding: 0;
}

.nav-item-right,
.nav-item-left {
  margin: 0 1rem;
  text-align: center;
}

.nav-link-left,
.nav-title a,
.nav-link-right {
  color: #f2da96;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 100ms ease-in-out;
}

.nav-title a {
  font-size: 2rem;
  font-weight: 700;
}

.nav-link-left:hover,
.nav-title a:hover,
.nav-link-right:hover,
.menu-btn:hover {
  color: #ab9e7b;
}

.nav-mobile {
  display: none;
}

.items-hidden {
  padding: 0.5rem 0.5rem;
}

.links-hidden {
  display: inline-block;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.05rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
}

.links-hidden:hover {
  color: #ab9e7b;
}

.nav-toggle {
  cursor: pointer;
  position: absolute;
  top: 1.15rem;
  right: 1rem;
  display: none;
}

.nav-toggle div {
  width: 2rem;
  height: 3px;
  background-color: #f2da96;
  margin: 5px;
  border-radius: 3px;
}

@media screen and (max-width: 850px) {
  .main-navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
  }

  .nav-center {
    padding: 0;
    width: 40%;
    margin: 0 auto;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-mobile {
    position: absolute;
    width: 100%;
    background: rgb(17, 17, 17);
    display: inline-block;
    transform: scale(0, 0);
    transform-origin: top right;
    transition: all 275ms ease-in-out;
  }

  .nav-mobile-active {
    transform: scale(1, 1);
  }

  .nav-mobile-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .nav-mobile-item {
    margin: 1.5rem 0;
  }

  .nav-mobile-link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f2da96;
    transition: all 150ms ease-in;
    opacity: 0;
  }

  .mobile-dropdown {
    display: inline-block;
    position: relative;
    padding: 0;
  }

  .mobile-menu-content {
    display: none;
    position: absolute;
    background-color: rgb(17, 17, 17);
    z-index: 1;
    text-align: left;
  }

  .menu-content-show {
    display: block;
  }

  .mobile-menu-btn {
    font-family: "Urbanist", sans-serif;
    border: none;
    background-color: rgb(17, 17, 17);
    color: #f2da96;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 300;
    transition: color 100ms ease-in-out;
  }

  .nav-mobile-link i,
  .menu-btn i {
    background: rgb(17, 17, 17);
  }
}

@media screen and (max-width: 380px) {
  .nav-title a {
    font-size: 1.75rem;
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/************** END OF NAVBAR *******************/

.section-title {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .section-title {
    font-size: 1.25rem;
    width: 80%;
    margin: 0 auto;
  }
}
/************** HERO *******************/
.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-img {
  width: 50%;
}

.hero-text {
  width: 40%;
  margin: auto;
  color: #fff;
  line-height: 2;
  letter-spacing: 1px;
}

.header {
  margin-bottom: 1rem;
}

.header span {
  display: block;
  color: #f2da96;
  text-transform: uppercase;
}

.header i {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 850px) {
  .hero-header,
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-text {
    width: 70%;
  }
}
/************** END OF HERO *******************/
